#p3{
    background-color: firebrick;
    color: rgb(248, 225, 211);
}

/* use "#" to refer to elements 
with an id in their tag */

.odd{
    border: 15px solid;
}

/* use "." to refer to elements 
with an class in their tag */

/* these can be applied to 
more than one html file*/

#color1{
    color:rgb(200,245,196);
}
#color2{
    color: #A2F6DC;
}
#color3{
    color:hsl(12,89%,75%);
}

#font1{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#font2A{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 10px;
}
#font2B{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1em;
}
#font3{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
}
#font4{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: italic;
}

    /* <uniquifier>: Use a unique and descriptive class name
     <weight>: Use a value from 200 to 700 */

.oswald-font5{
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Montserrat Regular";
    src: url(Fonts/Montserrat/Montserrat-Regular.ttf);
}
/* it may be a practice to declare the fonts separately
in different font-face if the font is not variable */

#font6{
    font-family: "Montserrat Regular", arial, sans-serif;
    font-style: normal;
}

#border0A{
    border-style:solid ;
    border-width: 3px ;
    border-color: hsl(182, 39%, 65%);
    border-radius: 5px;
}
/* this can be simplified with
the shorthand syntax as follows */
#border0B{
    border:solid 3px hsl(182, 39%, 65%);
    border-radius: 5px;
}
#border0C{
    border-bottom: solid 3px hsl(182, 39%, 65%);
    border-top: dashed 3px hsl(182, 39%, 65%);
    border-left: inset 3px hsl(182, 39%, 65%);
    border-right: outset 3px hsl(182, 39%, 65%);
    border-radius: 5px;
}

#border1{
    border-style:dashed ;
}
#border2{
    border-style:dotted ;
}
#border3{
    border-style:double ;
}
#border4{
    border-style:groove ;
}
#border5{
    border-style:ridge ;
}
#border6{
    border-style:inset ;
}
#border7{
    border-style:outset ;
}
#border8{
    border-style:none ;
}
#border9{
    border-style:hidden ;
}
#border10{
    border-style:inherit ;
}
#border11{
    border-style:initial ;
}

#shadowText{
    color:mediumslateblue;
    text-shadow: 2px 2px 8px rgba(61, 49, 133, 0.753), 
    0px 25px 10px rgba(103, 86, 199, 0.753);
    /* first parameter is horizontal offset
    second is vertical offset 
    third is blur */
    /* a second shadow can be added after a "," */
}
#shadowBox{
    width: 150px;
    height: 40px;
    background-color: mediumslateblue;
    box-shadow: 10px 10px 10px rgba(61, 49, 133, 0.753);
}

#margin1{
    margin: 0px;
}
#margin2{
    margin: 10px;
}
#margin3{
    margin-top: 50px;
}
#margin4{
    margin-bottom: 50px;
}
#margin5{
    margin-left: 50px;
}
#margin6{
    margin-right: 50px;
}
#margin7{
    border: 5px solid;
    width:500px;
    height:60px;
    margin-left: auto;
}
#margin8{
    border: 5px solid;
    width:500px;
    height:60px;
    margin: auto;
}
/* if no direction is specifed, margin will just 
apply the condition evenly on all sides*/

#floatImg1{
    float: left;
    margin-right: 10px;
}
#floatImg2{
    float: right;
    margin-left: 10px;
}
